@font-face {
  font-family: 'SweetDarling';
  src: url('./Images/font.ttf') format('truetype');
}

body {
  margin: 0;


  font-family: 'SweetDarling', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 33, 33);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}